@import "https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap";

:root {
    --color-acqua: #00FFFF;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}
.links a {
    text-decoration: none;
    color: white;
    background-color: gray;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    margin: 30px;
    padding: 15px;
}
.links a:hover{
    color: pink;
    transition: 780ms;
}
header {
    padding: 30px;
}

#content {
    text-align: center;
    margin: 32px;
}

#content img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px solid var(--color-acqua);
    padding-bottom: 32px;
}

#content h1 {
    font-family: 'Roboto';
    margin: 10px;
}

#content p {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}