#about-page .header #about {

    font-weight: bold;

}

#about-page main h1 {

    font-family: 'Roboto';
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 15px;
    color: var(--color-title);

}

#about-page main p {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-in-about);

}

#about-page main h2 {

    font-family: 'Roboto';
    font-size: 20px;
    color: var(--color-title);
    margin-bottom: 15px;

}