#layout {

    width: 61vw;
    margin: 0 auto;

}


.header #recipes {

    font-weight: bold;

}

#recipes-page .food-cards {

    margin-top: 24px;

}

.modal-overlay {

    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;

}

.modal {

    background-color: white;
    width: 660px;
    height: 413px;
    margin: 150px auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.modal img {

    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin: 30px;

}

.modal h2 {

    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    color: var(--color-title);
    text-align: center;

}

.modal p {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: var(--color-card-subtitle);
    text-align: center;

}

.modal-overlay.active {

    opacity: 1;
    visibility: visible;
    
}

.modal .close-modal {

    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--color-text-in-footer);
    margin-top: 60px;
    cursor: pointer;
    
}